.rating {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  .material-icons {
    margin-right: 0;
    font-size: 20px;
  }
  .active {
    color: orange !important;
  }
  p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
}