
@import 'main/rating.scss';
@import 'main/product.scss';
@import 'main/detailform.scss';

$primary-color: #fff;
$secondary-color: rgba(0, 0, 0, 0.5);

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

body {
  font-family: 'SVN-Gilroy Light', sans-serif;
  background-color: #FAFAFA;
  color: $primary-color;
  overflow-x: hidden;
  width: 100%;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.flex {
  display: flex;
}

.w50 {
  width: 50%;
}

.responsive-mobile1 {
  width: 100%;
}

.border-active {
  border: 1px solid #0080FF !important;
}

.responsive-mobile2 {
  width: 100%;
}

.button-shopping {
  width: 100%;
  justify-content: center;
  border: none;
  color: $primary-color;
  border-radius: 8px;
  background-color: #0080FF;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  z-index: 10;
  cursor: pointer;
}

.button-cart {
  width: 100%;
  justify-content: center;
  border: 1px solid #0080FF;
  color: #0080FF;
  border-radius: 8px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  z-index: 10;
  cursor: pointer;
  margin-right: 1rem;
}

.material-icons {
  margin-right: 1rem;
  font-size: 16px;
  color: $secondary-color;
}

.text-center {
  text-align: center;
}

.loading {
  border: 4px solid $primary-color;
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.slider {
  position: relative;
  margin-right: 2rem;
}

.slider img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.slider .active {
  display: block;
}

.slider div {
  display: none;
  top: 0;
  left: 0;
}

.slider button {
  .material-icons {
    color: #0080FF;
    font-size: 24px;
    margin-right: 0;
  }
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  transform: translateY(-30%);
  padding: 10px;
  background-color: transparent;
  border: 1px solid #0080FF;
  border-radius: 100%;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.08));
  cursor: pointer;
}


.slider button:first-child {
  left: 15px;
}

.slider button:last-child {
  right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@import 'main/responsive.scss';